html {
  font-size: 18px;
  font-family: helvetica;
}

div {
  /* Groups elements into chunks that are stacked blocks */

}

.container {
  /* this is the generic site container that centers things in viewport */
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid aqua;
}

/* TOP BLACK BAR ("COMPANY") */
.company {
  /* this is the logo bar at the very top */
  background-color: black;
}

.company .container {
  display: flex;
  align-items: center;
  padding-top: .66rem;
  padding-bottom: .66rem;
}

.company img {
  height: 1.5rem;
  padding-left: .5rem;
  padding-right: 1rem;
}

.company span {
  font-size: 1rem;
  color: white;
}

/* MAIN BANNER (HERO) */
.hero {
  background-image: url(../images/moto.jpeg);
  background-size: cover;
  width: 100%;
  height: 20rem;
}

.headline {
  background-color: black;
  color: white;
  margin-top: 9rem;
  width: 20rem;
  padding: 2rem 3rem 2rem 3rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: .25rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

/* NAV */
nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: .75rem 0;
}

/* PRODUCT GRID */
.container.products {
  display: flex;
  justify-content: space-between;
}

.product {
  width: 30%;
  border: 4px solid black;
  margin: 3rem 0;
}

.product img {
  max-width: 8rem;
}

.product-image {
  height: 9rem;
  padding: 2rem;
  max-width: 100%;
}

.description {
  background-color: black;
  color: white;
  text-align: center;
  padding: .5rem 0;
}

/* LOCATION & HOURS */
.business-info {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.title {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
}

/* FOOTER */
footer {
  background-color: black;
  height: 5rem;
  color: white;
  margin-top: 4rem;
}

footer .container {
  display: flex;

  align-items: center;
}
