html {
  font-size: 18px;
  font-family: helvetica;
}

div {
  /* Groups elements into chunks that are stacked blocks */

}

.container {
  /* this is the generic site container that centers things in viewport */
  max-width: 960px;
  margin-left: 0 auto;
}

/* TOP BLACK BAR ("COMPANY") */
.company {
  /* this is the logo bar at the very top */
  background-color: black;
}

.company .container {
  display: flex;
  align-items: center;
  padding-top: .66rem;
  padding-bottom: .66rem;
}

.company img {
  height: 1.5rem;
  padding-left: .5rem;
  padding-right: 1rem;
}

.company span {
  font-size: 1rem;
  color: white;
}

/* MAIN BANNER (HERO) */
.hero {
  background-image: url(resources/images/moto.jpeg);
  background-size: cover;
  width: 100%;
  height: 20rem;
}
